<div class="login-container">
    <div class="login-card">
      <img src="https://upload.wikimedia.org/wikipedia/commons/2/21/Universidad_de_M%C3%A1laga.jpg" alt="Alfresco logo" class="logo" />
      <h1>SCACIA</h1>
      <h2 class="subtitle">Sistema de Consultas Administrativas con Inteligencia Artificial</h2>
  
      <button class="sso-button" (click)="login()">INICIA SESION CON GOOGLE</button>
  
      <hr class="divider" />
  
      <div class="footer-links">
        <a href="#" class="footer-link">NEED HELP?</a>
        <a href="#" class="footer-link">REGISTER</a>
      </div>
    </div>
  </div>
  