<div class="contenido">
    <section class="bienvenida">
      <h1>BIENVENIDO<br>A<br>SCACIA</h1>
      <p>
        ¿Tienes dudas sobre matrículas, becas,<br>
        plazos o trámites administrativos?<br>
        Nuestro chatbot con IA está disponible<br>
        24/7 para ayudarte a resolver tus<br>
        consultas de forma rápida, clara y sin<br>
        complicaciones.<br><br>
        ¡Habla con nosotros y resuelve tus<br>
        gestiones al instante!
      </p>
    <button class="button -chat" (click)="abrirChat()">NUEVO CHAT</button>
    </section>
</div>