<div class="contenido">
  <div class="bienvenida">
      <h1>SCACIA</h1>
      <h3>Tu Asistente Inteligente en la Universidad</h3>
      <h4>Resuelve tus dudas académicas en segundos, 24/7</h4>
      <p>¿Tienes preguntas sobre matrículas, becas, horarios o trámites administrativos?
        Nuestro chatbot con inteligencia artificial está diseñado especialmente para estudiantes universitarios como tú.
      </p>
      <p>💬 Respuestas rápidas y claras sobre los procesos más comunes de tu universidad</p>
        <p>🎓 Disponible para grados, másteres y programas de intercambio</p>
        <p>🕒 Atención inmediata, sin colas ni esperas</p>
        <p>🔒 Seguro, privado y siempre actualizado</p>
      <button pButton type="button" class="btnChat"(click)="abrirChat()">Abrir chat</button>
    </div>
</div>