:root {
  --color-dark:  #161616;
  --color-ocean:  #416dea;
  --color-grass: #3dd28d;
  --color-snow: #FFFFFF;
  --color-salmon: #F32C52;
  --color-sun: #feee7d;
  --color-alge: #7999a9;
  --color-flower: #353866;
  --color-smoke: #e4e4e4;

  --font-face: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.contenido {
  background-image: url("https://sdmntprsouthcentralus.oaiusercontent.com/files/00000000-704c-61f7-b5c8-167ea3c9ff2a/raw?se=2025-04-17T12%3A06%3A51Z&sp=r&sv=2024-08-04&sr=b&scid=877ce624-4de8-59f5-ad08-dbeae6bf2d94&skoid=ae70be19-8043-4428-a990-27c58b478304&sktid=a48cca56-e6da-484e-a814-9c849652bcb3&skt=2025-04-16T21%3A27%3A41Z&ske=2025-04-17T21%3A27%3A41Z&sks=b&skv=2024-08-04&sig=lkdzdd4wvDDUNeauz5zLb5f0Wj6ukOMvFuU8uvN2s4k%3D");
  background-size: cover;
  background-repeat: repeat;
  display: flex;
  height: 81vh;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.bienvenida {
  background-color: #dddddd; /* gris claro */
  padding: 40px;
  text-align: center;
  max-width: 500px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.bienvenida h1 {
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: bold;
}

.bienvenida p {
  font-size: 18px;
  line-height: 1.6;
}

.button{
  /* display: flex; */
  overflow: hidden;

  margin: 10px;
  padding: 12px 12px;

  cursor: pointer;
  user-select: none;
  transition: all 150ms linear;
  text-align: center;
  white-space: nowrap;
  text-decoration: none !important;
  text-transform: none;
  text-transform: capitalize;

  color: #fff;
  border:  1px black solid;
  border-radius: var(--borderRadius);

  font-size: 15px;
  font-weight: bold;
  line-height: 1.3;

  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
 
  justify-content: center;
  align-items: center;
  flex: 0 0 160px;
  
  box-shadow: 2px 5px 10px var(--color-smoke);

  &:hover {
    transition: all 150ms linear;

    opacity: .85;
  }
  
  &:active {
    transition: all 150ms linear;
    opacity: .75;
  }
  
  &:focus {
    outline: 1px dotted #959595;
    outline-offset: -4px;
  }
}

.button.-chat{
  color: #202129;
  background-color: #f2f2f2;
  border-radius: 25pt;
  
  &:hover {
    color: #202129;
    background-color: #e1e2e2;
    opacity: 1;
  }
  
  &:active {
    background-color: #d5d6d6;
    opacity: 1;
  }
}

