

.page-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  /* CHAT BODY */
  .chat-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #f7f7f8;
    overflow-y: auto;
  }
