<div class="chat-body">
    <div class="messages">
      <div *ngFor="let msg of messages" [ngClass]="msg.sender" [@slideIn]="msg.sender">
      <span class="icon">
        <img *ngIf="msg.sender == 'bot'" src="https://play-lh.googleusercontent.com/1ablN4tSAjjoJaN8rhw8i-cOm-431RGypaRjoi-ArgOJI0GuTl9IQE4Ag-2ntME8rYEb">
      </span>
      <span *ngIf="!loading || msg.sender == 'user'" class="bubble" [innerHTML]="msg.text"></span>
      <div *ngIf="loading && msg.sender == 'bot'" class="animation"></div>
      <span class="icon">
        <p-avatar *ngIf="msg.sender == 'user'" [image]="this.userData.photoURL" class="mr-2" size="large" shape="circle" />
      </span>
      </div>
    </div>

    <div class="input-bar">
      <input
        type="text"
        [(ngModel)]="message"
        (keydown.enter)="sendMessage()"
        placeholder="Escribe un mensaje..."
      />
      <button (click)="sendMessage()">➤</button>
    </div>
  </div>

  <p-dialog header="Advertencia" [modal]="true" [(visible)]="visible" [baseZIndex]="10000" [style]="{'width': '50vw', 'display': 'flex', 'flex-direction': 'column', 'row-gap': '20px'}">
    <div class="modal">
      <span class="p-text-secondary block mb-8">El chatbot esta en fase de experimentacion, las
        inferencias pueden no ser precisas, en caso de duda consulta con el equipo de secretaria 
        o la documentacion oficial.
     </span>
     <div class="flex justify-end gap-2">
         <p-button label="Acepto" (click)="visible = false" />
     </div>
    </div>
</p-dialog>
