<div class="chat-body">
    <div class="messages">
      <div *ngFor="let msg of messages" [ngClass]="msg.sender">
        <span class="icon">
          <img *ngIf="msg.sender == 'bot'" src="https://play-lh.googleusercontent.com/1ablN4tSAjjoJaN8rhw8i-cOm-431RGypaRjoi-ArgOJI0GuTl9IQE4Ag-2ntME8rYEb">
        </span>
        <span *ngIf="!loading || msg.sender == 'user'" class="bubble">{{ msg.text }}</span>
        <div *ngIf="loading && msg.sender == 'bot'" class="animation"></div>
        <span class="icon">
          <img *ngIf="msg.sender == 'user'" src="https://cdn-icons-png.flaticon.com/512/18913/18913741.png">
        </span>
      </div>
    </div>

    <div class="input-bar">
      <input
        type="text"
        [(ngModel)]="message"
        (keydown.enter)="sendMessage()"
        placeholder="Escribe un mensaje..."
      />
      <button (click)="sendMessage()">➤</button>
    </div>
  </div>